[2019-11-24 01:28] shcheklein opened #2 "review and cleanup structure"
* What is the difference between Basic Concepts, Get started?
* Need better explanation for global section. E.g. Basic Concepts, Basic concepts and features of DVC do not provide any explanation.
* Deduplicate Data With XFS And Reflinks - why is it top level section?
* Examples -> Command Reference. I think in general it's better if we reflect docs structure with the katacoda sections

[2019-11-24 01:29] shcheklein opened #3 "review Get Started to be aligned with docs"

[2019-11-24 05:09] dashohoxha commented on #2
"Basic Concepts" is an in-depth explanation of the basic concepts of DVC. The examples and situations (scenarios) used there are very basic (the most basic example possible to explain a certain feature). They are made up examples and have nothing related to ML. This is done in order to focus just in explaining and understanding the features.

Get Started on the other hand reflects the structure of

[2019-11-24 05:30] dashohoxha commented on #3
Actually I think that the structure of the "Get Started" docs should be revised to match the structure of the "Get Started" interactive tutorials.

For example the number of the subsections on the docs (15) is too many. I think it should be reduced (there are only 8 scenarios on the Get Started course, which are better aligned to the basic features of DVC).

Another example is explaining the remot

[2019-11-24 17:34] shcheklein commented on #3
Not saying that there has been done too much research around that, but there were some principles and feedback in mind behind the current get started structure. E.g. each section should focus on a single command. Each section should be one page at most. Etc.

I would say they have gotten bigger (not number of sections, sections themselves). Mostly because there was a lack of the User Guide extende

[2019-11-24 17:42] shcheklein commented on #3
So, it's just matter of changing the order - Add first, Configure after? May be also some renaming - like Setup Storage or something? Does not sound like a bit change. We have to introduce remotes anyway as soon as possible. Without them DVC is not useful.

[2019-11-24 17:50] shcheklein commented on #2
kk, probably it's better for Get Started to go first though. To reflect the docs structure.

`Basic Concepts` - I would love to see some connection between those and some part of the User Guide.

[2019-11-24 17:52] shcheklein commented on #2
Suggestion - the explanation that you gave me answering the previous question. So that I was able to understand some logic behind the structure.

Otherwise make them blank. Repeating the section name does not make any sense to me and do not provide any value.

[2019-11-24 17:55] shcheklein commented on #2
it's so peculiar choice that I'm actually tempted to suggest removing it completely. Then we can rename Example to Random Scenarios or something. And again put some description there so that we can understand the logic behind it.

[2019-11-24 18:07] dashohoxha commented on #3
Here it is: https://katacoda.com/dvc/courses/tutorials/get-started
I tried first to build Get Started as a single scenario. But guess what? It took me longer than 60 min to go through it, and this is a problem because Katacoda virtual environment is automatically restarted after 60 min. So, I split it into smaller scenarios.

[2019-11-24 18:13] shcheklein commented on #3
It looks like you are trying to put literally everything we have in expandable sections and even more. E.g. dos2unix and md5 explanations. With get started there is not intention to go deep - just show basics from the very high level (and provide links and/or expandable to go deep)

[2019-11-24 18:19] dashohoxha commented on #2
I did not choose it. My intention was to add other examples for other commands. But you suggested that working on User Guide was more important, so I couldn't do that.

[2019-11-24 20:42] shcheklein commented on #2
Hide it for now then? It look strange to see fetch command reference alone :)

[2019-11-25 22:52] dashohoxha commented on #2
I would prefer to add a couple of other examples, so that it is not alone and it does not look strange, instead of hiding it. (Hiding it is the most easy thing anyway, and anyone can do it in a couple of minutes).

Actually my GSoD term is over, but this does not prevent me from contributing further, at least until some open issues are closed (if you also find this useful; I don't want to become b

[2019-11-25 22:54] shcheklein commented on #2
It would be nice. I would recommend focus on existing PRs first - we have too many things in play already.

[2019-12-04 20:14] shcheklein opened #4 "example versioning takes too long to complete end-to-end"
Katacoda is pretty slow, it's easy to get the environment shut at the very last stage.

We can probably split the step 5 into a separate scenario and put a link to it. It should include steps 1 and 5 from this one - just to illustrate the `dvc run`.

we should also improve the messaging when we run train.py - put some message in the script that it's running

[2019-12-04 20:15] shcheklein opened #5 "example versioning: step 5 error"
(.env) ~/example-versioning$ git rm model.h5.dvc
fatal: pathspec 'model.h5.dvc' did not match any files

[2019-12-04 20:16] shcheklein commented on #5
ah, probably bc I ran it separately

[2019-12-04 20:16] #5 closed, assigned to nobody

[2019-12-04 20:17] shcheklein commented on #4
And we should do some changes and show the purpose of `dvc repro`.

[2019-12-04 20:20] shcheklein opened #6 "remove tutorials/get-started ?"
@dashohoxha  it looks like a duplicate right now. Is there a purpose of having it?

[2019-12-04 20:39] dashohoxha commented on #6
It is a duplicate, but in a different format (as a whole big tutorial, instead of small tutorials).
No real purpose of having it. It is still there because it is quite easy to delete it and I didn't want to rush for deleting it.

[2019-12-04 20:43] shcheklein commented on #6
let's delete it then - to simplify and keep less things to support/review

[2019-12-04 20:46] dashohoxha commented on #4
If somebody needs any help with getting familiar to coding Katacoda scenarios, I can help.
But I think that Katacoda docs are good enough, and even a student can build such scenarios (assuming that he knows the right steps of the tutorial).

[2019-12-04 20:48] shcheklein commented on #4
But I think that Katacoda docs are good enough, and even a student can build such scenarios (assuming that he knows the right steps of the tutorial).

not sure I got the comment. What does it have to do with issue?

[2019-12-04 20:53] dashohoxha commented on #4
Who is going to fix this issue? Does he know how to work with katacoda tutorials or maybe needs some help?

[2019-12-04 20:59] shcheklein commented on #4
got it now 👍 :)

[2019-12-10 12:17] a-berg opened #7 "Katacoda examples are broken (fails to install botocore)"
I was following the tutorial on katacoda (awesome btw) and noticed how the `pip install dvc` fails to install botocore. I can solve it by using `pip install dvc[all]` but in other dvc tutorials where a script is used it gets tiresome to redo the failing dvc steps every time.

I don't know if this fails on other machines (there isn't any open issue regarding botocore), just in katacode.

[2019-12-10 18:51] shcheklein commented on #7
@a-berg could you please share the name and/or link of the scenario, please?

[2019-12-10 22:50] shcheklein commented on #7
I think it resolved now.

[2019-12-10 22:50] #7 closed, assigned to nobody

[2020-01-21 09:39] kaiogu opened #8 "faulty link"
The link to the wikipedia page for do graphs gets displayed incorrectly due to the ")" in the url and katacodas markdown engine interprets this as the end of the link.
The link ends up pointing to

Note the missing parens at the end.

What gets displayed in katacoda is:

Note the extra parens after "DOT graph".

[2020-06-19 12:39] utkarshsingh99 opened #11 "basics tutorial (step 2) not accurate"
![Screenshot from 2020-06-19 18-06-47](https://user-images.githubusercontent.com/32031518/85133137-c0840d80-b257-11ea-9c48-71536ed932de.png)
I think the term `dvc init` is missing here.
Also, the tutorial doesn't create a new directory and tries enabling DVC in the root directory. While it's perfectly fine, I don't think it's a good practice to do that.
Maybe we should change that?
@shcheklein @ef

[2020-06-19 13:52] efiop commented on #11
Hi @utkarshsingh99 ! Do you mean `data` scenario? https://github.com/iterative/katacoda-scenarios/tree/master/basics/data ?

[2020-06-19 13:52] utkarshsingh99 commented on #11
Yep

[2020-06-19 13:53] efiop commented on #11
@utkarshsingh99 But there is `dvc init` there: https://github.com/iterative/katacoda-scenarios/blob/master/basics/data/step2.md

[2020-06-19 14:01] utkarshsingh99 commented on #11
Woah, that's weird. Am I viewing an outdated tutorial here?
![Screenshot from 2020-06-19 19-26-07](https://user-images.githubusercontent.com/32031518/85140419-da771d80-b262-11ea-8662-e2bdfa9d8cc5.png)
Interestingly, now when I went on the same page, I found the page data the same as `step2.md`

[2020-06-19 14:02] utkarshsingh99 commented on #11
Oops, that was a mistake. My bad.
I'm sorry.
Should I close this?

[2020-06-19 14:32] #11 closed, assigned to nobody

[2020-07-18 00:19] #2 closed, assigned to nobody

[2020-07-18 00:19] #3 closed, assigned to nobody

[2020-07-18 00:19] #4 closed, assigned to nobody

[2020-07-18 00:19] #6 closed, assigned to nobody

[2020-07-19 10:54] sp7412 opened #15 "mnist tutorial failing"
In [Step 1](https://github.com/iterative/katacoda-scenarios/blob/master/tutorials/mnist/step1.md): pip install -r requirements.txt fails to run.

[2020-07-19 20:56] shcheklein commented on #15
Probably it means that it's out of date as well. Needs some care.

[2020-07-25 16:23] suryaavala opened #18 "Scenario Initialisation Failure (Outdated usage of dvc run)"
## Issue
Scenarios `Pipelines` and `Experiments and Metrics` are not being initialized properly (see Output below) due to outdated use of `dvc run` command, especially with the use of `-f` flag.

Example:
refer to line #56 in [Pipeline Preparation Script](https://github.com/iterative/katacoda-scenarios/blob/master/get-started/pipelines/assets/prepare.sh)
[code]

According to [Getting Started Docs]

[2020-07-26 16:22] suryaavala commented on #18
closed by #19

[2020-07-26 16:22] #18 closed, assigned to nobody

[2021-02-21 16:16] iesahin opened #20 "Update Scenarios for DVC 2.0"
Currently there are a few issues in documentation repo for katacoda scenarios. Basically these are not running because of a required system upgrade to Python 3.8.

- [x] Update issue on docs: https://github.com/iterative/dvc.org/issues/1400
- [ ] GS docs need to be more actionable:  https://github.com/iterative/dvc.org/issues/1943
- [x] A mismatch for commands: https://github.com/iterative/dvc.org

[2021-02-21 16:19] iesahin commented on #20
Could you arrange the permissions/membership so that I can take over updating katacoda? @shcheklein

Thank you.

[2021-02-21 17:56] shcheklein commented on #20
@iesahin I've added you to the repo. You can now do PRs and they are merged it will deployed I think. Feel free to merge them as you go, unless it's some substantial change to the content and you feel that review is needed

[2021-02-21 18:32] iesahin commented on #20
Thank you.

[2021-02-23 11:34] iesahin opened #23 "Separate Installation from Initialization"
Currently DVC installation is described in https://katacoda.com/dvc/courses/get-started/initialize as a step.

We can discuss several ways to install to DVC (snap, apt, pip, conda, bash completion) in a separate scenario and skip this step implicitly in other scenarios.

[2021-02-24 11:02] iesahin commented on #8
This content seems to be removed already. Thanks.

[2021-02-24 11:02] #8 closed, assigned to nobody

[2021-02-24 11:05] iesahin commented on #20
I have updated the [versioning](https://katacoda.com/dvc/courses/get-started/versioning) part.

[2021-02-24 11:06] iesahin commented on #20
Changed the name because most of the parts require an update for 1.0 as well. After the release we can update the commands and breaking changes for 2.0

[2021-02-26 12:16] iesahin opened #24 "GS: Versioning scenario should include a page about directories"
Currently `dvc add` is told in context of files only in [`track-a-file-or-directory.md`](https://github.com/iterative/katacoda-scenarios/blob/3c100de5fc628dcfde6eea05a38a93a5c3f3f5d6/get-started/versioning/track-a-file-or-directory.md)

We need to provide directory examples and describe how they differ from files and how their members and content are tracked with examples.

[2021-03-07 20:09] jorgeorpinel commented on #23
Good idea but may not need a whole scenario for installation. We could just use `pip install dvc` (most used one) in the Initialization one, and link to https://dvc.org/doc/install for more methods.

Not sure why we even had `snap` TBH.

[2021-03-07 20:14] jorgeorpinel commented on #20
Hi @iesahin 👋. I noticed you started committing directly to `master` recently (80 or so commits: https://github.com/iterative/katacoda-scenarios/compare/0f302dd...2993d87 up til now). It would be a better practice (and more readable repo history) to use PRs (from branches directly on this repo, no fork needed) even if you have `master` write access. Thanks!

![image](https://user-images.githubuser

[2021-03-07 20:47] jorgeorpinel commented on #15
`pip` fails to install pandas [0.23.4](https://github.com/pandas-dev/pandas/releases/tag/v0.23.4) which is pretty old, yes.

[2021-03-07 21:18] jorgeorpinel opened #26 "GS/Init: Copy edits (1.0)"
https://katacoda.com/dvc/courses/get-started/initialize

get-started/initialize/intro.md:
- "currently in, and start a new project" (add comma)

get-started/initialize/step2.md:
- "Now you can use the `Tab` key to learn which commands (and options) are available."
- "Please type `dvc ` (with space) and press `Tab` twice to see the full command list."

get-started/initialize/step3.md:
- "Some files

[2021-03-07 21:18] jorgeorpinel commented on #26
Cc @iesahin thanks!

[2021-03-07 22:16] jorgeorpinel opened #27 "GS/Versioning copy edits (1.0)"
https://katacoda.com/dvc/courses/get-started/versioning

Step 1:
- "is like streamlined and smart wget" -> "it like a smart `wget`"
- "DVC projects hosted on Git repositories" -> "DVC repositories"
- "initialized DVC repository to use get" -> "initialized DVC project to use `dvc get`."
- "ML model or a whole directory with DVC we use" -> ML model, or a whole directory, with DVC we use" (commas)
-

[2021-03-07 22:17] jorgeorpinel commented on #27
Cc @iesahin looks long but a lot of it is quick changes. Thanks!

[2021-03-08 03:47] jorgeorpinel opened #28 "GS/Accessing updates (1.0)"
https://katacoda.com/dvc/courses/get-started/accessing

Step 1:
- There are a pre-existing file and dir that get used much later which are confusing when you `ls`. Could they be downloaded automatically when you get to the step that needs them?
- "You don't need to be inside a Git or DVC repo to execute it" - Remove ore reuse the `get` note from https://katacoda.com/dvc/courses/get-started/version

[2021-03-08 04:11] jorgeorpinel opened #29 "GS/Stages updated (1.0)"
https://katacoda.com/dvc/courses/get-started/stages

- Please check missing "the", "a/an", commas, etc. throughout the scenarios

Intro:
- "track, save and" -> "track, save, and"
- "the parameters, and the outputs" -> "its parameters and outputs"
- "with a pipeline" -> "with a data pipeline"? (preserve link)

Step 1:
this whole step is a 2nd intro without actionable items. It's probably too much r

[2021-03-08 04:11] jorgeorpinel commented on #29
Cc @iesahin

[2021-03-08 04:35] jorgeorpinel commented on #20
Seems like that should be a separate issue in this repo? I'd also add checkboxes to the description above for each Get Started chapter:

- [x] Initialize (done in https://github.com/iterative/katacoda-scenarios/compare/0f302dd...2993d87#diff-02011e81bf7e79c858402ec12982ff09a9158044b69e615f011daa672a8758fb) + #26
- [x] Versioning (in https://github.com/iterative/katacoda-scenarios/compare/0f302dd..

[2021-03-08 04:36] jorgeorpinel opened #30 "GS/Params & Metrics: review (2.0)"
https://katacoda.com/dvc/courses/get-started/params-metrics-plots

- "experiments", "experimentation" - Not sure we want to introduce the concept of "experiments" since there's a special meaning in 2.0 (https://dvc.org/doc/start/experiments)

Intro
- THE Data science process
- "try many different approaches, different hyper-parameter values" -> "try different approaches, hyper-parameters"

Step 1:

[2021-03-08 04:38] jorgeorpinel commented on #20
Question: what's the purpose of updating scenarios but keep using 1.0? Should we focus on updating them with 2.0 along the way? Per https://github.com/iterative/dvc.org/issues/2026

[2021-03-08 15:04] iesahin commented on #20
@jorgeorpinel Hi. 👋🏼 I began writing with PRs but the iteration takes 2x time that way. You need to merge to `master` before seeing the effects in katacoda. There are no prior tests or whatnot. 80 commits mean ~80 PRs. I agree that it would be better documentation-wise but the workflow needs updates to the master for each commit, either merging from PR or by direct commits.

I thought establishing

[2021-03-08 15:25] #26 closed, assigned to nobody

[2021-03-08 18:35] #27 closed, assigned to nobody

[2021-03-09 01:21] jorgeorpinel commented on #20
Shouldn't take that much longer, maybe 10-20% extra time? But it's worth it. Without branching or PRs it's pretty hard to go back and find where/why things were updated. For example your recent PRs are very clear e.g. #31 fixes up the language in the GS/Init scenario. We can go there and comment on any further/pending issues related to that, etc. (divide and conquer). BTW we can make reviews befor

[2021-03-09 01:40] jorgeorpinel commented on #20
Sounds good!

Yes they were probably made for dvc 0.x still! At least now they run and have decent, updated explanations, which is the most important step 👍

Looking forward to the 2.0 updates (again, feel free to request in-PR reviews before merging) @iesahin. Thanks

[2021-03-09 13:36] #28 closed, assigned to nobody

[2021-03-10 01:08] jorgeorpinel commented on #20
See also https://github.com/iterative/dvc.org/issues?q=is%3Aissue+is%3Aopen+katacoda

[2021-03-10 07:18] iesahin opened #36 "Write a scenario for GS:Experiments"
It should follow https://dvc.org/doc/start/experiments in structure.

## Init
- [ ] Install the result environment from params

## Step 1
- [ ] Explain `dvc run`
- [ ] How to set params with DVC

## Step 2
- [ ] Queuing experiments: `dvc exp run --queue`

## Step 3
- [ ] Comparing experiments: `dvc exp show`

## Step 4
- [ ] Persisting experiments `dvc exp apply`

## Step 5
- [ ] Cleaning up: `dvc

[2021-03-10 07:52] iesahin opened #39 "Remove `dvc exp run` references from the stages scenario"
The scenario uses `dvc exp run` instead of `dvc repro` to run a pipeline defined with `dvc stage add`. It's better to introduce `dvc exp` in a dedicated scenario

[2021-03-10 12:39] #29 closed, assigned to nobody

[2021-03-11 09:30] iesahin opened #43 "Change editors in scenarios from VSCode to a simple editor"
It looks it's possible to use a simpler editor to view files. It's better to replace the editors because VSCode has too many bells and whistles that we don't need and it takes time to load it.

[2021-03-11 10:08] iesahin opened #44 "Maintain code / data files in scenarios from a central repository and bucket"
Currently, scenario initialization scripts replay the previous steps in to obtain a project. It initializes Git and DVC, downloads the data, splits it, prepares it, etc. Instead of this, we can package the *end of scenario* result in a single zip file, download and extract it in a single step. Because of the data, we cannot put all to the assets, it has 1MB size limit.

Is there a central location

[2021-03-11 19:00] jorgeorpinel commented on #44
Yes, we have an AWS S3 bucket (used as public remote for https://github.com/iterative/example-get-started for example). But what's the benefit of this proposed approach, to make scenario preparation faster?

[2021-03-11 19:02] jorgeorpinel commented on #44
What other assets do we need to upload other than raw data (already on S3), prepared data, and model? Everything else should already be in Git I think. Thanks

[2021-03-11 19:02] jorgeorpinel commented on #44
Thanks

[2021-03-12 13:50] #36 closed, assigned to nobody

[2021-03-12 14:19] iesahin commented on #44
`prepare.sh` script replays the previous scenarios to reach the beginning of a scenario. This is not a big deal in the first two scenarios, but for the later scenarios, it takes time. A ready-made DVC repository is quicker. The user is already waiting for DVC and requirements installations to complete and I would like them to wait for less for the start.

You can see the difference in https://kata

[2021-03-12 20:19] #43 closed, assigned to nobody

[2021-03-13 07:38] iesahin commented on #39
I have created a new scenario for experiments in #45 . It introduces `dvc exp run`.

[2021-03-13 08:34] iesahin commented on #39
It looks katacoda is down at the moment.

[2021-03-14 00:51] jorgeorpinel commented on #44
All the pipeline data should be up on the example-get-started repo remote (see all the `dvc push`es in [generate.sh](https://github.com/iterative/example-repos-dev/blob/master/example-get-started/generate.sh)).

You can checkout the corresponding [tag](https://github.com/iterative/example-get-started/tags) and use `dvc pull` (instead of replaying the whole process). Have you tried that?

But you h

[2021-03-14 07:58] iesahin commented on #24
I removed this content from S&P scenario, this should be put elsewhere.

---

# How are directories cached and tracked?

By default, DVC stores the _outputs_ defined in `stage add` in the `cache`
similar to other data. `data/prepared` directory is defined as an output in
`prepare` stage, and the hash value is:

`grep -A 1 'path: data/prepared' dvc.lock`{{execute}}

and this points us to `.dvc/cach

[2021-03-14 13:24] #39 closed, assigned to nobody

[2021-03-14 13:43] iesahin commented on #15
I think it's not from the age of packages, the container is limited in CPU and memory. It takes infinite time to compile Pandas.

![Screen Shot 2021-03-14 at 16 37 58](https://user-images.githubusercontent.com/476310/111070802-66616180-84e4-11eb-89e8-b618cf1b9ef5.png)

I don't think a newer version will solve the problem. A precompiled version from `apt` may run. (And, even in that case, I wonder

[2021-03-14 15:02] iesahin opened #48 "Tutorials/Versioning doesn't start"
The scenario at https://katacoda.com/iex/courses/tutorials/versioning doesn't pass this screen.

![Screen Shot 2021-03-14 at 18 02 03](https://user-images.githubusercontent.com/476310/111073353-6dda3800-84ef-11eb-92ed-de964de1ffd9.png)

I waited about ~10 minutes but it doesn't start. Init scripts seem OK.

[2021-03-14 17:05] shcheklein commented on #15
I'm fine to remove and start from the Dave's one.

[2021-03-15 14:08] iesahin commented on #15
I tested the `basic` branch of `dvc-checkpoints-mnist` and it's killed in the training step due to the memory limits in katacoda. Do you have a preference over which deep learning architecture / library / technique used in the examples? It may be possible to use TFLite and download models directly in the examples. I'm asking this because it may take more time to adjust to low memory environments.

[2021-03-15 19:38] shcheklein commented on #15
@iesahin do we know what takes all the memory? It's a bit unexpected that MNIST requires that much RAM.

[2021-03-15 21:09] iesahin commented on #15
@shcheklein I didn't profile it thoroughly but the line in training that builds the prediction, `y_pred = model(x)` or something like that causes the kill. (I'm writing from the phone.) Data itself is downloaded, and loaded into the memory but the model may take that much RAM.

There may be some engineering, like increasing the swap space or manual gc to reduce the required memory. But Torch itsel

[2021-03-16 12:52] dberenbaum commented on #15
I can (and probably should) load mini-batches of data in the example, which could help, but maybe not if PyTorch already uses almost all the available memory. We could also try a more lightweight deep learning framework. Also curious which branch you are using @iesahin?

[2021-03-16 14:22] iesahin commented on #15
Let me first profile the script. I doubt mini-batches will solve the memory
problem, (PyTorch download size is around 700MB,) but it may help to
converge faster. It takes around 100 epochs to reach >0.90 accuracy.

I tested on several branches but traced on `basic` branch. Thank you.

[2021-03-16 14:46] iesahin commented on #15
If `libtorch.so` really takes up 1.2GB of RAM as discussed [here](https://discuss.pytorch.org/t/why-pytorch-used-so-many-cpu-ram/73151), there's not much we can do about it.

[2021-03-18 10:31] iesahin commented on #15
I tested dogs and cats data and model versioning tutorial on katacoda in a docker container: https://dvc.org/doc/use-cases/versioning-data-and-model-files/tutorial

Tensorflow runs but creating the model takes a long time. `python train.py` takes around 30 minutes. Most of the time is spent before the epoch progress bars. It may be possible to load the model at once and reduce this considerably.

[2021-03-18 11:22] iesahin commented on #15
I tested the [MNIST example in TF site](https://www.tensorflow.org/datasets/keras_example).

https://gist.github.com/iesahin/f3a22ebca5b52579748dc7d724047c8d

It takes less than 1 minute for the whole script to finish on Katacoda. The model is a bit simple, no CNN, 1 Dense/128 layer. (97% val. acc.) But at least now we know it's possible to use MNIST on Katacoda.

[2021-03-18 11:53] iesahin opened #49 "Automated testing for Katacoda scenarios with Docker"
It's possible to use Docker images for each scenario to test the scenario commands.

- We can create a `dvc-base` image like in https://hub.docker.com/repository/docker/emresult/dvc-base

- For each of the scenarios, create an image, e.g., `dvc-gs-versioning` that will have all the artifacts / requirements to run the scenario. These can be linked in GS / UC / Tutorial pages for users to try the co

[2021-03-22 11:09] iesahin commented on #49
@jorgeorpinel I'm currently building the Docker based scenarios under my account: https://katacoda.com/iex/courses/get-started-dockerized/versioning

Currently these Docker containers are stored in Docker hub under my name: https://hub.docker.com/repository/docker/emresult/dvc-gs-versioning

And their `Dockerfile`s are in https://github.com/iesahin/dvc-examples-docker

This repository will also co

[2021-03-23 01:02] shcheklein commented on #49
Looks great! Quick ask - let's add something at the very beginning, like please wait for a minute while we are initializing the environment. Otherwise it's not even clear for people not familiar with Docker what's going on there. Also, is there a way to cache something on the Katacoda end? or even on our end (S3) to make download faster?

can we reuse/pull from the existing projects (like the exam

[2021-03-23 07:12] iesahin commented on #49
Thank you.

Yes, I'll put that. Overall, I think it's faster than manually preparing the environment and the user will have an option to run the command on their own container after a `docker run -it dvcorg/gs-versioning`. I'll put these instructions on the start pages.

I don't think we can make the downloads faster without paid subscription to Katacoda, the speed is most likely determined by the

[2021-03-27 07:35] iesahin commented on #49
I changed the way `example-get-started` project used in Katacoda.

* Previously, it was downloading `code.zip` to `src` and preparing the project manually, by downloading the data, trimming it, etc. Now it clones https://github.com/iterative/example-get-started
[code]

and modifies the data with

[code]

For the general `example-get-started` containers, I'll just remove the second part. (Or modify

[2021-03-27 12:02] iesahin commented on #49
The [experiments scenario](https://katacoda.com/iex/courses/get-started-dockerized/experiments) also works on Docker locally, but there is a bug in DVC 2.0.6 installed by default using `apt` and RAM limitations seems to hit harder. It's a bit random, some experiments run sometimes and fail other times so I gave up fixing. Reducing the dataset size further may work but newer Python packages may be

[2021-04-06 11:37] iesahin commented on #49
I have completed the initial version for _Markdown Code Runner_ here: https://github.com/iterative/markdown-code-runner

If you clone, run `pip install -r requirements.txt` and run `test/run-katacoda-docs.zsh`, it will clone the Katacoda scenarios to temporary directory, and execute all commands in the MD documents within their containers. (If you have docker.)

@shcheklein @jorgeorpinel

[2021-04-06 11:52] iesahin opened #50 "Merge Dockerized GS Scenarios"
Dockerized scenarios are already running in https://katacoda.com/iex/courses/get-started-dockerized

These should be merged to the main site and Getting Started scenarios should use them.

[2021-04-06 11:57] iesahin opened #51 "Add a link to Experiments scenario"
A link to the [experiments scenario](https://katacoda.com/dvc/getting-started/experiments/) should be put in https://dvc.org/doc/start/experiments

[2021-04-06 12:06] iesahin opened #52 "Update scenarios with the new Docker containers in `hub.docker.com/u/dvcorg`"
Currently, the containers are run from `emresult/` namespace. We are discussing the new naming convention in iterative/dvc.org#2354 and after we decide on new names for the containers, we need to push the containers with the new names and update the scenarios to use these newer containers.

[2021-04-06 12:10] iesahin commented on #44
After dockerization of the scenarios, it's now not required to use such a facility. The containers already include all needed assets and code.

Related: #49

@jorgeorpinel @shcheklein

[2021-04-06 12:10] #44 closed, assigned to nobody

[2021-04-06 19:13] iesahin opened #53 "Provide links to respective Docker containers in scenario introductions"
When a scenario uses a Docker container to run the commands, the user has an option to run this container locally. We can put links to the intro pages for users as another option to run the scenario.

[2021-04-06 19:29] #49 closed, assigned to nobody

[2021-04-06 19:29] #50 closed, assigned to nobody

[2021-04-07 02:13] shcheklein opened #55 "Review: dockerized experiments scenario"
https://katacoda.com/dvc/courses/get-started/experiments

Issues:

- [x] `ERROR: unexpected error - 'ascii' codec can't encode characters in position 462-464: ordinal not in range(128)` on `dvc exp show` Step 3
- [x] `Update available 2.0.15 -> 2.0.17` for every command - we need to run an update before? Run CI builds all those containers regularly?
- [x] `ERROR: failed to reproduce 'dvc.yaml': fa

[2021-04-09 19:35] iesahin opened #56 "Update container references to dvcorg versions"
There is a new naming scheme in [dvc-doc-containers](https://github.com/iterative/dvc-doc-containers) per iterative/dvc-doc-containers#4

Scenarios using them should be updated with the new versions.

[2021-04-09 19:58] iesahin opened #57 "Update scenarios to `dvcorg/doc-katacoda:*` containers"
There is a new naming scheme in [dvc-doc-containers](https://github.com/iterative/dvc-doc-containers) per iterative/dvc-doc-containers#4

Scenarios using them should be updated with the new versions.

[2021-04-09 19:58] iesahin commented on #57
Duplicate of #56

[2021-04-09 19:58] #57 closed, assigned to nobody

[2021-04-09 20:24] #56 closed, assigned to nobody

[2021-04-10 06:06] iesahin commented on #55
Yep, this is OOM. It's not reliable, sometimes happens, sometimes not. This is the reason I want to start updating the Experiments with Tensorflow/MNIST first.

@shcheklein

[2021-04-10 07:24] iesahin commented on #55
After running

[code]

I get the following. All other problems are Katacoda specific.

[code]

[2021-04-10 07:48] iesahin opened #60 "Write a new Experiments scenario with MNIST/Tensorflow"
[The current experiments scenario][expsc] uses [example-get-started][egs] project for presenting the Experiments. However most of the `train.py` commands fail due to out-of-memory errors in Katacoda.

We need a new way to present experiments concepts:

- It should depend on MNIST. In our previous discussion in #15, I tested Tensorflow/MNIST example and it worked on Docker on Katacoda. This is a go

[2021-04-10 12:34] iesahin commented on #60
The structure of the project will be similar to the current `example-get-started`.

The usual way of distributing MNIST dataset (in [LeCun's website][lecun] and [deep.ai][deepai]) is in a format not directly usable by Python. Our `prepare.py` script will receive this data and convert it into a usable format.

The data will be kept in the `data/` directory similar to the current one. The files will

[2021-04-10 14:24] #53 closed, assigned to nobody

[2021-04-13 06:03] iesahin commented on #60
A preliminary `params.yaml` looks like this:

[code]

There may be some others, I think the more parameters we have, the more freedom to experiment we can have while writing the documentation.

[2021-04-20 21:21] iesahin commented on #60
The project is in https://github.com/iesahin/example-get-started-mnist/

You can install the requirements and run with `dvc exp run`  or `dvc repro`.

The params file contains various parameters to test with `dvc exp run -S` and I can add other possible optimizers, activation and loss functions. I'll add a Readme that details possible values for the parameters. Also I can add some deep NNs for use

[2021-04-21 02:41] shcheklein commented on #60
@iesahin does it have checkpoints now?

can we follow the same pattern as we do in the regular get started and keep introducing things per commit? it means that we'll have tags to refer to.

also, we need to codify the project

also, @dberenbaum and @flippedcoder have beeb discussing how to make it more realistic (use drop-in dataset replacement). Have you beed able to solve this problem here?

[2021-04-21 08:35] iesahin commented on #60
It has the implicit checkpoints, as all pipelines, e.g., `dvc exp run -S model.name=cnn`  produces a checkpoint with the CNN as the model. I'll provide explicit checkpoints but I thought this as a replacement for `example-get-started` and some features of `dvc exp` is incompatible with `dvc repro`.

When the end project seems OK, I'll begin to write the script to produce that. But I plan to mainta

[2021-04-21 13:41] iesahin commented on #60
You can use `docker run -it emresult/get-started-mnist` to run the project. I'll move to `dvcorg` namespace after the review.

Katacoda seems to have some issues. It doesn't even start the containers I set up two weeks ago and this doesn't work there either. Looking into it.

@shcheklein @dberenbaum @flippedcoder

[2021-04-21 20:46] dberenbaum commented on #60
Thanks, @iesahin!

IMO having more realistic models is not that important for getting started as long as there are ways to tune it and see noticeable performance improvements. I would vote to err on the side of simplicity in terms of models, parameters, etc.

Checkpoints are still an immature feature IMO, and I agree that they may have some different requirements that make it hard to integrate wit

[2021-04-21 21:36] iesahin commented on #60
Thank you @dberenbaum

I agree with your points. For the GS pages, it's a bit overwhelming to talk about checkpoints in complete detail. Instead I plan to tell `-S` to quickly set the parameter values and get results.

For an advanced Experiments tutorial, I plan to show

- `checkpoint:` in `dvc.yaml` to iterate over a set of values
- `make_checkpoint` in Python code, in `train.py` to set `dense_u

[2021-04-21 22:05] iesahin commented on #60
BTW, Katacoda issues seem to be solved. Even the CNN version of the project runs fine. It looks we have achieved *single get-started project to run on all platforms with modest requirements* goal. I'll update the scenario text tomorrow for the new project.

You can see the container here: https://www.katacoda.com/iex/courses/get-started/experiments

Just issue a `dvc repro` or `dvc exp run` to run

[2021-04-22 14:44] dberenbaum commented on #60
I think we should keep parameter tuning and checkpoints separate. An advanced section combining them makes sense, but there are still plenty of people who will only want to use one or the other.

As far as complexity of params, I think it quickly becomes hard for users to follow and hard to visualize in `exp show`. I agree that having multiple parameters (and maybe having them in multiple stages)

[2021-04-23 13:34] iesahin opened #62 "Create a checkpoints scenario similar to the tutorial document"
A new tutorial document is being written by @flippedcoder at iterative/dvc.org#2373 A scenario that is similar to that one could be useful to present these features.

[2021-04-24 10:08] #60 closed, assigned to iesahin

[2021-04-24 10:14] iesahin commented on #55
I didn't close this review issue, feel free to update with a new review or close if the scenario is OK now. @shcheklein Thank you 🙏🏼

[2021-04-24 22:58] iesahin opened #64 "Refactor examples/shared-server as examples/reflinks"
The content of the shared-server scenario is more oriented towards telling the benefits of reflinks. It seems it's better to retrofit this scenario to a reflinks example and create a new, more focused shared-server scenario

[2021-04-24 23:22] iesahin opened #65 "Issues in examples/.dvcignore"
This is the review of https://www.katacoda.com/dvc/courses/examples/dvcignore

- It repeats itself for data1, data2, data3 files.
- There should be a glob example.
- The command
[code]
should use ˋjqˋ
- The command
[code]
should use a newer version of `dvc.yaml` tracking. Actually this example is a bit superflous, stages are not tracked by `.dvc` files now.

There could be 3 examples in 3 pages:

[2021-04-24 23:47] iesahin opened #66 "Review of examples/fetch"
This is the review of https://www.katacoda.com/dvc/courses/examples/fetch

- "As a prerequisite, you have to study first the Get Started tutorial, otherwise it may be a bit difficult to understand the structure of the project" can be rephrased.

- `dvc remove *.dvc data/*.dvc` returns an error

- `prepare.dvc` refers to an early version of `example-get-started`
[code]

- `dvc fetch` with specific

[2021-04-25 00:42] iesahin opened #67 "Review of examples/ssh-storage"
https://www.katacoda.com/dvc/courses/examples/ssh-storage

- It should have two different Docker instances instead of users. (Or, users should be added beforehand.)

- We can have a 3 container setup. 1 for the SSH server, 2 for different users.

[2021-04-25 04:45] shcheklein commented on #67
I would wait on this one. We don't have a corresponding docs section for this. It's not clear where and how should we position it and what is the primary intention to have it. I would start with clarifying those things.

[2021-04-25 04:47] shcheklein commented on #62
Let's discuss if we consolidate all these experiments tutorials and repos.

[2021-04-25 04:47] shcheklein commented on #55
Closing this for now. Thanks @iesahin . I'll create a new one if I see something else.

[2021-04-25 04:47] #55 closed, assigned to iesahin

[2021-04-25 04:48] shcheklein commented on #48
Is it still valid?

[2021-04-25 04:49] shcheklein commented on #52
Is it done?

[2021-04-25 15:50] iesahin commented on #52
This is done and automated.

[2021-04-25 15:50] #52 closed, assigned to nobody

[2021-04-25 15:57] iesahin commented on #48
Yes, it's still valid. I'm taking a look into this.

[2021-04-25 18:35] iesahin commented on #48
The cause is actually a [single line in step4.md](https://github.com/iterative/katacoda-scenarios/blame/master/tutorials/versioning/step4.md#L9) that reads:

`<img url="/dvc/courses/tutorials/versioning/assets/versioning.png" />`

HTML tags are not allowed in Katacoda but I didn't suspect that it could stop the whole thing. There is not a single error message anywhere either.

In order to find tha

[2021-04-25 18:51] #48 closed, assigned to nobody

[2021-04-25 19:29] shcheklein commented on #48
@iesahin thanks! Katacoda - yay! :)

[2022-01-10 14:27] iesahin commented on #23
Agreed. Closing.

[2022-01-10 14:27] #23 closed, assigned to nobody

[2022-02-01 11:25] iesahin commented on #20
I think the portions related to katacoda in iterative/dvc.org#1943 are resolved. We can close this.

[2022-02-01 11:25] #20 closed, assigned to iesahin

[2022-07-01 17:39] daavoo opened #70 "Katacoda links no longer work"
https://katacoda.com/dvc/courses/get-started

<img width="1790" alt="Captura de Pantalla 2022-07-01 a las 19 38 41" src="https://user-images.githubusercontent.com/12677733/176944363-e7a07dc1-89b6-4755-928d-2d24ac530d0a.png">

[2022-07-04 18:50] jorgeorpinel commented on #70
Links are getting removed from https://github.com/iterative/dvc.org/pull/3727

What do we do with this repo now? Archive it I suppose, @shcheklein

[2022-07-04 18:52] shcheklein commented on #70
yep, archive it

[2022-07-04 18:52] jorgeorpinel commented on #70
(I don't have access to make the repo private/ archive it.)